@font-face {
    font-family: mitra;
    src: url('../fonts/BMitra.woff') format('woff'), url('../fonts/BMitra.ttf') format('ttf'), url('../fonts/BMitra.eot') format('eot');
}

@font-face {
    font-family: boldMitra;
    src: url('../fonts/BMitraBold.woff') format('woff'),
        url('../fonts/BMitraBold.ttf') format('ttf'),
        url('../fonts/BMitraBold.eot') format('eot');
}

body {
    background-color: #fafafa;
    font-family: mitra;
}

/* style social media in header */
.social-media .social-media-icon ul {
    display: flex;
    list-style-type: none;
}

.social-media .social-media-icon ul li {
    margin: 4px;
}

.social-media .social-media-icon ul li a {
    text-decoration: none;
    border: 1px solid #e2e2e2;
    border-radius: 50%;
    background-color: #fff;
}

.social-media .social-media-icon ul li a:hover {
    background-color: #007cba;
    transition: 0.5s;
}

.social-media .social-media-icon ul li a:hover i {
    color: #fff;
}

.social-media .social-media-icon i {
    color: #5f5f5f;
    font-size: 12px;
    display: inline-block;
    width: 23px;
    height: 27px;
    line-height: 27px;
    text-align: center;
}

/* End style social media in header */
/* style serch bar in header */
.social-media {
    position: relative;
}

.social-media-icon {
    display: inline-block;
}

.search-bar {
    display: inline-block;
    position: absolute;
    left: 10%;
    margin-top: 4px;
}

.search-bar button {
    border: none;
    background: none;
}

.search-bar input {
    display: none;
}

/* END style serch bar in header*/


.navigation {
    background-color: #fff;
    height: 70px;
    box-shadow: 0px 5px 10px #c9c9c9;
}

.toggle-nav-btn {
    color: #fff;
    background-color: #333;
    border: 1px solid #666;
    margin-bottom: 8px;
    margin-right: 15px;
    margin-top: 8px;
    padding: 5px 10px;
    display: none;
    transition: 0.5s;
}

.toggle-nav-btn:hover {
    background-color: #19bc9b;
}

.toggle-nav-btn i.fa-bars {

    font-size: 22px !important;
    display: inline-block;
    margin: 0;
    padding: 0;

}

.navigation>ul {
    list-style: none;
    display: flex;
    width: 50%;
    margin: auto;


}

.navigation ul li {

    width: 100%;
    text-align: center;
    cursor: pointer;
}

.navigation a {
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    line-height: 70px;
    color: #333;
    font-size: 18px;
    font-weight: 700;
}

.navigation a:hover {
    color: #007cba;
}

.navigation i {
    font-size: 12px;
    padding-right: 10px;
}

.navigation ul.main-nav li.item>a::after {
    content: "\002F";
    padding-right: 22px;
    color: #404040;
}

ul.dropdown-nav {
    background-color: hsl(0, 0%, 98%);
    padding: 0;
}

.navigation ul.dropdown-nav {
    display: none;
    list-style: none;
    width: 150%;
    box-shadow: 1px 1px 3px #e2e2e2;
    flex-direction: column;


}

.dropdown-nav a {
    border-bottom: 1px solid #e2e2e2;
    text-align: right;
    display: inline-block;
    width: 100%;
    padding-right: 10px;
    height: 50px;
    line-height: 50px;

}

.navigation .main-nav .item-down:hover .dropdown-nav {
    display: flex;

}

/* End style of navigation */
/* style site owner */
.site-branding {
    height: 140px;
    width: 100%;
    background-color: #fff;
    position: absolute;
    z-index: -1;

}

.site-branding h1.title-owner {
    font-family: 'boldMitra';
    text-align: center;
    margin: 30px 0 0 0;
    text-transform: uppercase;

}

.site-branding h1.title-owner a {
    text-decoration: none;
    font-weight: 700;
    font-size: 35px;
    color: #3e3e3e;

}

.site-branding h1.title-owner a:hover {
    color: #007cba;
}

.site-branding p {
    margin: 10px 0 15px 0;
    font-family: "Monotype Corsiva";
    font-size: 22px;
    text-align: center;
}

/* style content */
.content {
    position: relative;
    top: 200px;
    display: flex;
    justify-content: space-around;
}

/* style side bar */
.content .sidebar {
    /* width: 327px; */
    width: 25%;
    background-color: #fff;
    margin-bottom: 45px;
    margin-right: 5%;
}

.content .sidebar h2 {
    font-size: 20px;
    color: #4e4e4e;
    border-top: 1px solid #a0a0a0;
    border-bottom: 1px solid #a0a0a0;
    text-align: center;
    padding: 10px 0;
    margin-bottom: 30px;
    margin-top: 30px;
}

.sidebar .author {
    text-align: center;
}

.content .sidebar img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
}

.content .sidebar p {
    text-align: center;
    line-height: 28px;
    font-size: 15px;
    margin: 0 0 10px;
    color: #404040;
}

.content .sidebar ul.new-post {
    list-style: none;
    padding: 0;
}

.content .sidebar ul.new-post li {
    padding: 5px 0 5px 0;
    border-bottom: 1px solid #a0a0a0;
}

.content .sidebar ul.new-post li:last-child {
    border: none;
}

.content .sidebar ul.new-post li ::before {
    content: "\203A";
    padding-left: 10px;
    font-size: 20px;
}

.content .sidebar ul.new-post a {
    text-decoration: none;
    color: #333;
    font-size: 15px;
    font-weight: 400;
    letter-spacing: 0.05em;
}

/* style post */
.content .post,
.content .contact,
.content .article,
.comment {
    width: 58%;
    margin-left: 5%;
}

.content .post .post-item {

    height: fit-content;
    background-color: #fff;
    display: flex;
    margin-bottom: 30px;
    border: 1px solid #f0f0f0;

}

.content .post .content-post-item {
    padding: 15px;
}

.content .post .post-item h2 a {
    font-weight: 700;
    line-height: 24px;
    margin-bottom: 15px;
    margin-top: 5px;
    font-size: 20px;
    position: relative;
    text-decoration: none;
    color: #4e4e4e;
    display: block;
    padding: 10px;
}

.content .post .post-item h2 a::after {
    content: "";
    position: absolute;
    width: 60px;
    height: 1px;
    background: #0195df;
    display: block;
    bottom: -5px;
}

.content .post .post-item p {
    color: #404040;
}

.content .post .post-item img {
    width: 50%;
    padding: 15px;
}

/* design footer */
.footer {
    background-color: #fff;
    position: relative;
    top: 200px;
    min-width: 100%;

}

.footer .footer-group {
    display: flex;
    justify-content: space-around;
}

.footer .footer-group .footer-item {

    width: 25%;

    padding: 10px 0 10px 0;

}

.footer .footer-group .footer-item h2 {
    font-weight: 700;
    border-bottom: 1px solid #a0a0a0;
    color: #333;
    font-size: 22px;
    padding: 10px 0px;
}

.footer .footer-group .footer-item ul {
    list-style: none;
    padding: 0;
}

.footer .footer-group .footer-item ul a,
.footer .footer-group .footer-item a {
    text-decoration: none;
    color: #666;
    font-size: 15px;
    display: inline-block;
    padding: 7px 0;
}

.designer {
    position: relative;
    top: 200px;
    background-color: #263238;
}

.designer .text-design {
    text-align: center;
    padding: 15px;
}

.designer span {
    color: #fff;

}

.designer span a {
    text-decoration: none;
    color: #fff;
}

/* style of contact page */
.contact {
    background-color: #fff;
    height: fit-content;
}

.contact h1 {
    font-family: boldMitra;
    font-weight: 700;
    font-size: 32px;
    margin-top: 50px;
    margin-right: 5%;
    margin-bottom: 10px;
}

.contact label,
.contact input,
textarea,
.comment label,
.comment input {
    width: 100%;
    display: inline-block;
    font-weight: 700;
    font-size: 18px;
    line-height: 28px;
    margin-bottom: 10px;
    color: #404040;

}

.contact input {
    margin-bottom: 15px;
    font-weight: 400;
    border-radius: 3px;
    border: 1px solid #e2e2e2;
}

.contact input[type='submit'],
.comment input[type='submit'] {
    border: 0;
    background: #4B515D;
    font-size: 13px;
    line-height: 19px;
    padding: 6px 15px;
    color: #fff;
    transition: all 0.3s ease 0s;
    width: auto;
    margin-bottom: 5%;
}

.contact input[type='submit']:hover {
    background-color: #007cba;
}

form {
    width: 90%;
    margin: auto;
}

/* style article page */

/* END style article page */

.content .article {
    background-color: #fff;
    height: fit-content;
    margin-bottom: 5%;

}

.content .article img {
    width: 90%;
    margin: 5%;
}

.content .article h1 {
    font-size: 20px;
    font-weight: 700;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 18px;
}

.content .article p {
    margin-left: 5%;
    margin-right: 5%;
    font-size: 18px;
    line-height: 25px;
    text-align: justify;
    margin-bottom: 28px;
}

.content .article p strong {
    font-weight: bold;
    font-size: 20px;
    color: #404040
}

.content .article ul {
    margin-left: 5%;
    margin-right: 5%;

}

.content .article ul li {
    line-height: 28px;

}

.content .article pre {
    background: #eee;
    font-family: 'Droid Sans', sans-serif;

    margin-bottom: 28px;
    max-width: 90%;
    margin-left: 5%;
    margin-right: 5%;
    padding: 20px;
    border: 1px solid #e2e2e2;
    border-radius: 3px;
}

.content .article pre code {
    white-space: pre-wrap;
    padding: 0;
}

.content .article p.text-align-left {
    text-align: left;
}

blockquote {
    padding: 10px 20px;
    font-size: 17.5px;
    border-left: 5px solid #eee;
    margin: 1rem 3rem 1rem;
}

.nav-previous {
    position: relative;
    display: flex;
}

.nav-previous a {
    position: absolute;
    top: 150px;
    left: 7%;
    color: #404040;
    padding: 5px 25px;
    border-top: 1px solid #000;
    border-bottom: 1px solid #000;
    text-decoration: none;
}

.nav-previous a::after {

    content: "\00BB";
    position: absolute;
    left: 10px;
    top: 4px;
    font-size: 20px;
}


/*END style of contact page */
.nav-previous i {
    font-size: 20px;
}

.comment {
    background-color: #fff;
    position: relative;
    top: 200px;
    right: 35%;

    margin-bottom: 5%;
}

.comment h3,
.comment p {
    margin-right: 5%;
}

.comment h3 {
    font-size: 23px;
    font-weight: 700;
    padding-top: 22px;
    margin-top: 20px;
}

.comment input[type="checkbox"] {
    width: auto;
}

.comment .save-cookies {
    font-size: 20px;
}

.go-up {
    position: fixed;
    bottom: 0;
    right: 25px;
    color: #fff;
    text-decoration: none;
}

.go-up .fa {
    opacity: 0;
    font-size: 40px;
    margin-bottom: 12px;
    margin-top: 10px;
    background: #1e282d;
    width: 50px;
    text-align: center;

}

@media only screen and (max-width:755px) {

    .content {
        flex-direction: column-reverse;
        justify-content: center;
    }

    .content .post {
        width: 90%;
        margin: auto;

    }

    .content .post .post-item {
        height: fit-content;
        width: 100%;
        flex-direction: column-reverse;
    }

    .content .post .post-item img {
        width: 100%;

    }

    .content .sidebar {
        width: 90%;
        top: 810px;
        position: relative;


    }

    .comment {
        top: -843px;

    }

    .nav-previous {

        bottom: 1065px;
    }

    .footer {
        margin-top: 140px;
    }

    .footer .footer-group {
        display: block;
    }

    .footer .footer-group .footer-item {
        width: 95%;
        display: block;
        margin: auto;
    }

    .footer .footer-group .footer-item .tag-link {
        text-align: center;
    }

    .content .contact {
        width: 100%;
        margin: auto;
    }

}

@media only screen and (max-width:1151px) {

    .navigation {
        width: 100%;
        margin: auto;
        height: fit-content;
        position: absolute;
        z-index: 9999999;
    }

    .navigation>ul {
        width: 90%;
        flex-direction: column;
        background-color: #fff;

    }

    .navigation ul li {
        width: 100%;
        display: block;
        text-align: right;
        display: none;
    }

    .navigation a {
        text-align: right;
        display: inline-block;
        width: 100%;
        line-height: 50px;

    }

    .navigation ul.main-nav li.item>a::after {
        content: "";

    }

    .dropdown-nav a {
        padding-right: 23px;

    }

    .navigation ul.dropdown-nav {
        width: 100%;
    }

    .navigation ul.dropdown-nav {
        display: flex;
    }

    .toggle-nav-btn {
        display: block;
    }

    .site-branding {
        top: 100px
    }

    .content .article,
    .comment {
        width: 100%;
    }

    .comment {
        right: 0;
    }

    .nav-previous a {
        top: 170px
    }
}